name: Python application

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  Dependances:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install cyclonedx-bom
        cyclonedx-py requirements -i requirements.txt -o sbom.json

        
    - name: Scanner le SBOM
      uses: aquasecurity/trivy-action@master
      with:
          scan-type: sbom
          input: sbom.json
          scanners: vuln
          severity: CRITICAL,HIGH
          format: table
          exit-code: 1
  Dockerfile:
      name: Scanner Dockerfile
      runs-on: ubuntu-latest
      needs: Dependances
  
      steps:
        - name: Checkout du code
          uses: actions/checkout@v4
  
        - name: Vérifier présence Dockerfile
          run: |
            if [ ! -f Dockerfile ]; then
              echo "Dockerfile manquant"
              exit 1
            fi
  
        - name: Lint du Dockerfile avec Hadolint
          uses: hadolint/hadolint-action@v3.2.0
          with:
            dockerfile: Dockerfile
            
        - name: Analyse Trivy de l'image Docker
          uses: aquasecurity/trivy-action@master
          with:
            scan-type: config
            scan-ref: Dockerfile
            scanners: config
            format: table
            exit-code: 0
